{% extends 'base.html' %}
{% block content %}
<h2>Your Notes</h2>

<a href="{% url 'add_note' %}" class="btn btn-primary mb-3">Add New Note</a>

{% if notes %}
  <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for note in notes %}
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
        {% if note.note_type == 'normal' %}
        {{ note.title }}
        {% else %}
        {{ note.note_type|capfirst }}
        {% if note.title %} - {{ note.title }}{% endif %}
        {% endif %}
        </h5>

        {% if note.note_type == 'normal' %}
          <p class="card-text">{{ note.content|linebreaksbr }}</p>
        {% else %}
          <ul>
            {% for item in note.content.splitlines %}
            {% if item.strip %}
              <li>
                <a href="https://www.google.com/search?q={{ item|urlencode }}" target="_blank">
                    {{ item }}
                </a>
                           
            </li>
            {%endif %}
            {% endfor %}
          </ul>
        {% endif %}
          <small class="text-muted">
            Created: {{ note.created_at|date:"d M Y, H:i" }}
        </small>
        <a href="{% url 'edit_note' note.id %}" class="btn btn-sm btn-warning">Edit</a>
        <a href="{% url 'delete_note' note.id %}" class="btn btn-sm btn-danger">Delete</a>
      </div>
    </div>
  </div>
{% endfor %}

  </div>
{% else %}
  <p>No notes yet. Add one!</p>
{% endif %}
{% endblock %}
